.form--paper{
    position: relative;
    width: 1519px;
    height: 2148px;
    background: #ffffff;
    box-shadow: 0px 24px 38px rgba(0, 0, 0, 0.08), 0px 9px 46px rgba(0, 0, 0, 0.12);
}

.paper--margin-left{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 563px;
    height: 2148px;
    background: #33393B;
}

.paper--circle-container{
    position: absolute;
    bottom: 52px;
    left: 212px;
}

.block36{
    height: 92px;
}

.paper--image--container{
    margin: auto;
    text-align: center;
}

.paper--image{
    width: 378px;
    height: 567px;
    background: #ffffff;
    border-radius: 232px 232px 0px 0px;
}

.paper--contactSkill{
    width: 378px;
    margin: 62px auto;
    border: 6px solid #F2AB44;
    border-radius: 100px;
    color: white;
    text-transform: uppercase;
    font-size: 40px;
    text-align: center;
    line-height: 84px;
}

.contactSkill--body{
    display: flex;
    align-items: center;
}

.contactSkill--body + .contactSkill--body{
    margin-top: 32px;
}

.contactSkill--field{
    width: 164px;
    height: 72px;
    padding-right: 20px;
    text-align: right;
    background: #F2AB44;
    border-radius: 0px 52px 52px 0px;
    flex: 2;
}

.contactSkill--field i{
    color: white;
    line-height: 72px;
    font-size: 48px;
}

.contactSkill--content{
    padding-left: 32px;
    flex: 5;
}

.contactSkill--content--title{
    font-weight: 500;
    font-size: 32px;
    color: #FFFFFF;
    text-transform: uppercase;
    line-height: normal;
    margin: 0px;
}

.contactSkill--content--body{
    font-weight: 400;
    font-size: 26px;
    color: #FFFFFF;
    margin: 0px;
    line-height: normal;
    overflow-wrap: break-word;
    width: 336px;
}

.contactSkill--skillName{
    font-size: 26px;
    margin-bottom: 0px;
    color: #FFFFFF;
    text-align: center;
    text-transform: uppercase;
    line-height: 62px;
}

.contactSkill--skillRange{
    margin: auto;
    width: 378px;
    height: 46px;
    background: #D5D6D7;
    border-radius: 103px;
}

.contactSkill--skillLevel{
    height: 46px;
    background: #F2AB44;
    border-radius: 103px;
}

.paper--circle{
    width: 26px;
    height: 26px;
    background: #F2AB44;
    border-radius: 13px;
    display: inline-block;
    margin-inline: 10px;
}

.paper--margin-right{
    width: 956px;
    position: absolute;
    top: 0px;
    height: 2174px;
    left: 563px;
}

.paper--job{
    margin: 112px 0px 20px 0px;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 52px;
    text-align: center;
    color: #000000;
}

.paper--nameBox{
    height: 156px;
    margin: 0px;
    background: #F2AB44;
}

.paper--name{
    font-weight: 500;
    line-height: 156px;
    font-size: 72px;
    text-align: center;
    color: #FFFFFF;
    margin: 0px;
}

.paper--introduce-padding{
    padding-left: 62px;
    padding-top: 52px;
}

.introduce--order{
    background-color: #F2AB44;
    color: white;
    border-radius: 77px;
    display: inline-block;
    line-height: 103px;
    width: 103px;
    height: 103px;
    font-size: 77px;
    text-align: center;
}

.introduce--title{
    text-transform: uppercase;
    margin-inline: 26px;
    color: #33393B;
    font-size: 52px;
}

.introduce--para{
    height: 156px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    font-weight: 400;
}

.introduce--para, .introduce--body-container{
    font-size: 26px;
    line-height: normal;
    margin: 0px;
    margin: 40px 128px 40px 40px;
    color: #3f4345;
}

.introduce--body-row{
    display: flex;
}

.introduce--body-row + .introduce--body-row{
    margin-top: 20px;
}

.introduce--year{
    width: 312px;
    height: 40px;
    background: #33393B;
    border-radius: 0px 104px 104px 0px;
    color: white;
    font-size: 28px;
    text-align: right;
    line-height: 40px;
    margin-left: -140px;
    padding-right: 28px;
}

.introduce--year--title{
    width: 260px;
    font-size: 32px;
    line-height: normal;
    margin: 10px 0px 0px 0px;
    color: #33393B;
}

.introduce--content--title{
    font-weight: 400;
    font-size: 32px;
    color: #000000;
    line-height: normal;
    margin: 0px;
    color: #3f4345;
}

.introduce--content--body{
    margin: 10px 0px 0px 0px;
    font-size: 26px;
    color: #000000;
    line-height: normal;
    font-weight: 400;
    color: #3f4345;
    height: 62px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}